<h1>New encounter</h1>

<% form_for(@encounter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :experience %><br />
    <%= f.text_field :experience %>
  </p>
  <!-- <p>
    <%#= f.label :actor_id %><br />
    <%#= f.text_field :actor_id %>
  </p> -->
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', encounters_path %>